<%- include('partials/header') %>


  <div class="blur"></div>
  <div id="container">

    <form action="/login" method="post" >
      <h1>Log in</h1>

      <div class="mb-3 drop">

        <input type="email" name="username" id="RegisterEmail" placeholder="Email" autocomplete="off" aria-describedby="emailHelp">
      </div>
      <div class="mb-3 drop">
        <input type="password" class="form-control" name="password" autocomplete="off" placeholder="Password" id="exampleInputPassword1">
      </div>
      <button type="submit" class="btn btn-primary">Enter Room </button>
    </form>
    <p> Don't have an account? <a href="/register">Register.</a></p>
  </div>
  

<%- include('partials/footer') %>
