html {
  height: 100%;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  background-color: black;
  height: 100%;
}

#form {
  background: rgb(0,0,0);
  background: linear-gradient(260deg, rgba(31,33,36,1) 21%, rgba(0,0,0,1) 100%);
  width: 100%;
  padding: 0.25rem;
  position: absolute;
  bottom: 0;
  display: flex;
  height: 3rem;
  box-sizing: border-box;
  backdrop-filter: blur(10px);
}
#online{
  font-size: 10px;
}
#input {
  border: none;
  padding: 0 1rem;
  flex-grow: 1;
  background: rgb(0,0,0);
  background: linear-gradient(73deg, rgba(31,33,36,1) 21%, rgba(0,0,0,1) 100%);
  color: #fff;
  border-radius: 2rem;
  margin: 0.25rem;
  transition: all .7s ease;
}

#input:focus {
  outline: none;
  border: 2px solid #0d6efd;

}

#form>button {
  background: #0d6efd;
  border: none;
  padding: 0 1rem;
  margin: 0.25rem;
  border-radius: 3px;
  outline: none;
  color: #fff;
}

#messages {
  list-style-type: none;
  margin: 0 0 0 3%;
  padding: 0;
  height: 85%;
  overflow: auto;
}

#messages>.text {
  border-radius: 12px;
}

.messages {
  background: rgb(31,28,28);
  background: linear-gradient(0deg, rgba(31,28,28,1) 21%, rgba(56,56,62,1) 100%);
  padding: 0.5rem 1rem;
  border-radius: 12px;
  margin: 2% 0 0;
  color: #fff;
  width: max-content;
  max-width: 60%;
  transition: all .5s ease;
}

.message-div #private {
  display: none
}

.main {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.message-box {
  transition: all .7s ease;
  position: relative;
  height: 100%;
  background-color: rgba(0, 0, 0, 90%) !important;
  background-image: url('/images/bg-stars.svg');
  width: 80%
}

.sidebar {
  transition: all .5s ease;
  height: 100%;
  display: flex;
  padding: 1rem;
  background: rgb(0,0,0);
  background: linear-gradient(163deg, rgba(31,33,36,1) 21%, rgba(0,0,0,1) 100%);
  width: 20%;
  flex-direction: column;
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: white;
}
h3 {
  font-family: 'Otomanopee One', sans-serif;
  margin: 0;
  text-align: center;
  font-size: 100%;
}
h3 sup {
  color: #D1A595;
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
}

ul {
  margin: 0;
}

li {
  padding-left: 3%;
}

.room-name {
  background-color: rgba(0, 0, 0, 50%);
  color: #f8f9fa;
  border-radius: 8px;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
}

.nav {
  display: flex;
  font-family: 'system-ui', sans-serif;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  flex-direction: column;
  font-size: 16px;
  color: #212529;
}

.sidebar p {
  margin: 5% 0 0;
  padding: .5rem 1rem;
  color: #fff;
  border-radius: 5px;
  font-weight: bold;
  background-color: #0d6efd;
}

hr {
  border: 0;
  color: inherit;
  background-color: #ffe;
  height: 1.5px;
  margin: 1rem 0;
  opacity: .25;
}
.newDiv {
  justify-content: flex-end;
  margin-right: 3%;
}
.nav-links {
  display: block;
  color: #fff;
  padding: .5rem 1rem;
  text-decoration: none;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

.list {
  margin: 2% 0 0;
  background-color: rgba(244, 245, 248, 0.1);
  transition: all .7s ease;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.fa-circle {
  color: lightgreen;
  margin: 0 3% 0 0;
}

.active {
  color: #fff;
  font-weight: bold;
  border-radius: 1px;
  background-color: #000;
}

.meta {
  font-size: 10px;
}

p {
  margin: 0;
}
#check {
  display: none;
}
label #btn, label #cancel{
  position: absolute;
  cursor: pointer;
  background-color: #1f2124;
  border-radius: 3px;
}
@media (min-width: 951px) {
  label #cancel {
    display: none;
  }
  label,label #btn {
    display: none;
  }
  .overlay {
    display: none;
  }
}

@media (max-width: 950px) {
  .sidebar {
    position: fixed;
    left: -40%;
    z-index: 4;
  }
  #messages{
    margin-top: 8%;
  }
  .overlay {
    background-color: rgba(0, 0, 0, 10%);
    z-index: 1;
    position: absolute;
    left: -100%;
    top: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    width: 100%;
    backdrop-filter: blur(5px);
  }
  .message-box {
    width: 100%;
  }
  label .check-btn {
    padding: 2% 5%;
    width: 100%;
    z-index: 7;
    display: flex;
    position: fixed;
    background-color: #1f2124;
    transition: all .5s ease;
  }
  label #btn {
    z-index: 6;
    left: 70%;
    top: 10px;
    font-size: 1.8rem;
    color: white;
    padding: 6px 12px;
    transition: all .5s ease;

  }
  label #cancel {
    z-index: 7;
    left: -20%;
    top: 10px;
    font-size: 1.5rem;
    color: white;
    padding: 4px 9px;
  }
  #check:checked ~ .sidebar {
    left: 0;
    width: 55%;

  }
  #check:checked ~ label #btn {
    opacity: 0;
    left: 200px;
  }
  #check:checked ~ label #cancel {
    left: 70%;
    transition: all .5s ease;
  }
  #check:checked ~ .overlay{
    left: 0;
  }
}
@media (max-width: 400px) {
  #check:checked ~ .sidebar {
    width: 70%;
  }
  #messages{
    margin-top: 15%;
  }
  #input {
    width: inherit;
  }
  label #btn {
    font-size: 1.3rem;
    top: 5px;
  }

}
